/*---------------------------------------------------------------------*/
/*  Grid settings SASS file
/*  All the grid related variables go there (eg. breakpoints and widths)
/*  Order the SASS files get compiled:
/*  1) External libs
/*  2) Core variables SASS files 
/*  3) theme variable overrides
/*  4) other core SASS files
/*  5) other theme SASS overrides
/*---------------------------------------------------------------------*/

// responsive breakpoints
$breakpoint-smartphone-max-width: 640px;
$breakpoint-tablet-portrait-max-width: 768px;
$breakpoint-tablet-landscape-min-width: $breakpoint-tablet-portrait-max-width + 1px;
$breakpoint-tablet-max-width: 1000px;

$header-height: 60px;

$sidebar-width: 200px;