/*---------------------------------------------------------------------*/
/*  Mixins SASS file
/*  All mixins go there (custom and borrowed from third party libraries)
/*---------------------------------------------------------------------*/

@mixin button_hover() {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

